body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    width: 100%;
    background-color: #fff;
}

.header-wrapper {
    background-color: #1c4f2a;
    color: #fce6c5c5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: +1;
}

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: inherit;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    height: 80px;
}

.logo img{
    object-fit: contain;
    height: 85px;
}

.link-wrapper {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav-link {
    padding-left: 20px;
    text-align: center;
    align-content: center;
    font-family: 'Jost', sans-serif;
    color: #fce6c5c5;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}

.nav-link:hover {
    color: #fff;
    letter-spacing: 3px;
    text-decoration-style: none;
    cursor: pointer;
}

.button {
    border-radius: 4px;
    border-color:#fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 4px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #1c4f2a;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background-image: linear-gradient(to right, #21803a86 5%, #fce6c5c5 51%, #21803a86 95%);
}

.button:hover {
    background-color: white;
    color: #1c4f2a;
    box-shadow: 0 10px 20px #00000010, 0 6px 6px #00000010;
    margin: 8px 10px 12px;
    background-position: right center;
}

.top-container {
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.267),
        rgba(0, 0, 0, 0.267)
      ),
      url(assets/map.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 350px;
    z-index: -1;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-family: 'Noto Serif Display', serif;
    font-weight: bolder;
    font-size: 32pt;
    justify-content: center;
    align-items: center;
    opacity: .9;
    margin-right:inherit;
}

.headline1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32pt;
    position: absolute;
    top: 200px; 
    left: 0; 
    width: 100%;
}

.mission-statement {
    background-color: rgba(252, 230, 197, 0.774);
    color: #000;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28pt;
    width: 100%;
    height: 300px;
}

.mission-text {
    padding-bottom: 10px;
    width: 60%;
    font-family: 'Noto Serif Display', serif;
}

.mission-body {
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #fff;
    column-gap: 0px;
    row-gap: 0px;
    grid-auto-columns: 1fr;
    grid-template-rows: minmax(auto, 1fr);
}

.griditem1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
    
.womenworking3-img {
    max-width: 100%;
    height: auto;
}

.griditem2 {
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
}

.vision-text {
    font-family: 'Noto Serif Display', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid2content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.griditem3 {
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28pt;
}

.values-text {
    font-family: 'Noto Serif Display', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid3content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.plant3-img {
    max-width: 100%;
    height: auto;
}

.griditem4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.bottom-container {
    background-color: #fce6c5c5;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: inherit;
    width: inherit;
    margin-bottom: 0px;
    margin-right: inherit;
}

.blog-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.subscribe-heading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 18pt;
}

.form-grid-vertical {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding: 30px;
    height: 30px;
}

.Email-Submit-Button{
    height: inherit;
    background-color: #21803a86;
    padding: 5px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    color: white;
}

.blog-container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    padding: inherit;
    width: inherit;
}

.blog-thumbnail{
    object-fit: fill;
    justify-content: space-between;
}

.blog-link{
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: #000;
    text-align: left;
    justify-content: space-between;
    padding-left: 40px;
}

.medium-heading{
    display: flex;
    font-size: 28pt;
    font-family: 'Noto Serif Display', serif;
    letter-spacing: 3px;
    font-weight: lighter;
}

.blog-text{
    display: flex;
    font-size: 14pt;
    letter-spacing: 2px;
}

.footer-wrapper {
    background-color: #1c4f2a;
    color: #fce6c5c5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: inherit;
    position: static;
    margin-bottom: inherit;
    margin-right: inherit;
    margin: inherit;
    height: 120px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo {
    height: 75px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 15pt;
    padding-left: 20px;
}

.icon-linkedin {
    cursor: pointer;
    padding: 8px;
}

.icon-twitter {
    cursor: pointer;
    padding: 8px;
}

.icon-youtube {
    cursor: pointer;
    padding: 8px;
}

.nav-link-footer {
    padding-left: 10px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    color: #fff;
    text-decoration: none;
}