body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    width: 100%;
    /* right: 0; */
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
}

.header-wrapper {
    background-color: #1c4f2a;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-right: inherit;
    padding: inherit;
    position: sticky;
    right: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
}

.left-column {
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.logo img{
    margin: 0px;
    object-fit: contain;
    height: 80px;
}

.link-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
}

.nav-link {
    width: 60px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: cornsilk;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
}

.nav-link:hover {
    color: #6ef5928f;
    letter-spacing: 3px;
    text-decoration-style: none;
    cursor: pointer;
}

.button {
    border-radius: 4px;
    border-color:#fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 4px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #1c4f2a;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background-image: linear-gradient(to right, #21803a86 5%, #f3ed96a8 51%, #21803a86 95%);
}

.button:hover {
    background-color: white;
    color: #1c4f2a;
    box-shadow: 0 10px 20px #00000010, 0 6px 6px #00000010;
    margin: 8px 10px 12px;
    background-position: right center;
}

.top-container {
    background-color: cornsilk;
    color: #000;
    display: float; 
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    margin-right: 0px;
    background-image: url("/assets/handsin.jpeg");
    background-repeat: no-repeat;
}

.headline1 {
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.divider {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
    justify-content: center;
    text-align: center;

}
.headline2 {
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-align: center;
}

.grid-container {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #fff;
    column-gap: 0px;
    row-gap: 0px;
    grid-auto-columns: 1fr;
    grid-template-rows: minmax(auto, 1fr);
}

.griditem1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    }
    
.womenworking3-img {
    max-width: 100%;
    height: auto;
}

.griditem2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #fff;
    width: 30%;
    height: 60px;
}

.griditem3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #fff;
    width: 75%;
    height: 60px;
    align-content: space-around;
}

.plant3-img {
    max-width: 100%;
    height: auto;
}
.griditem4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.bottom-container {
    background-color: cornsilk;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: inherit;
    width: inherit;
    margin-bottom: 0px;
    margin-right: inherit;
}

.blog-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.subscribe-heading{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 18pt;
}

.form-grid-vertical {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding: 30px;
    height: 30px;
}

.Email-Submit-Button{
    height: inherit;
    background-color: #21803a86;
    padding: 5px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    color: white;
}

.blog-container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    padding: inherit;
    width: inherit;
}

.blog-thumbnail{
    object-fit: fill;
    justify-content: space-between;
}

.blog-link{
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: #000;
    text-align: left;
    justify-content: space-between;
    padding-left: 40px;
}

.medium-heading{
    display: flex;
    font-weight: bolder;
    font-size: 16pt;
    font-family: 'Noto Serif Display', serif;
    letter-spacing: 2px;
}

.blog-text{
    display: flex;
    font-size: 12pt;
}

.footer-wrapper {
    background-color: #1c4f2a;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: inherit;
    position: static;
    margin-bottom: inherit;
    margin-right: inherit;
    margin: inherit;
    height: 120px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-logo {
    height: 70px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    /* width: auto; */
    color: cornsilk;
}

.fa-twitter {
    cursor: pointer;
    padding: 10px;
}

.fa-linkedin {
    cursor: pointer;
    padding: 10px;
}

.nav-link-footer {
    width: 60px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    color: #fff;
    text-decoration: none;
}