body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
}

.header-wrapper {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: +1;
}

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: inherit;
    height: 60px;
}
/* .logo {
    display: flex;
    justify-content: center;
    margin: 0px;
} */

.logo img{
    object-fit: contain;
    height: 70px;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    padding-left: 20px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: #000;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}

.nav-link:hover {
    color: #21803a86;
    letter-spacing: 3px;
    text-decoration-style: none;
}

.button {
    border-radius: 4px;
    border-color:#fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 4px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #1c4f2a;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background-image: linear-gradient(to right, #21803a86 5%, #fce6c5c5 51%, #21803a86 95%);
}

.button:hover {
    background-color: white;
    color: #1c4f2a;
    box-shadow: 0 10px 20px #00000010, 0 6px 6px #00000010;
    margin: 8px 10px 12px;
    background-position: right center;
}

.top-container {
    background-image: url(../assets/handsin.jpeg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 475px;
    z-index: -1;
    position: relative;
}

.bio-pic img {
    border-radius: 360px;
    height: 400px;
    padding: 20px;
}

.bio-flex {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 20px 20px 10px 90px;
}

.bio-header {
    display: inherit;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 80px;
    font-family: 'Noto Serif Display', serif;
    font-size: 28pt;
}

.name-text {
    color: #2dbb53d7;
}

.header-2 {
    font-family: 'Jost', sans-serif;
    padding: 20px 50px 10px 45px;
    font-size: 23pt;
}

.everything-text {
    font-weight: bolder;
}
.intro-text {
    font-family: 'Jost', sans-serif;
    font-size: 18pt;
}
.about-text {
    display: inline-block;
    padding: 45px;
    width: 80%;
    justify-content: end;
    margin-right: 0;
}

.second-paragraph {
    display: inline-flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
    padding-left: 175px;
    font-size: 18pt;
}

.what-if {
    font-family: 'Noto Serif Display', serif;
    font-size: 23pt;
}

.do-better {
    color: #2dbb53d7;
    font-weight: bold;
    font-size: 23pt;
}

.social-text {
    font-size: 23pt;
    align-content: center;
    text-align: center;
    font-weight: bold;
}

.social-media-container {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: row;
}

.icon-linkedin {
    padding: 20px;
    font-size: 32pt;
}

.icon-twitter {
    padding: 20px;
    font-size: 32pt;
}

.icon-youtube {
    padding: 20px;
    font-size: 32pt;
}

.footer-wrapper {
    background-color: #1c4f2a;
    color: #fce6c5c5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: inherit;
    position: static;
    margin-bottom: inherit;
    margin-right: inherit;
    margin: inherit;
    height: 120px;
}

.footer-leftcolumn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo {
    height: 75px;
}

.nav-link-footer{
    padding-left: 10px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    color: #fff;
    text-decoration: none;
}