body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
}

.header-wrapper {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.left-column {
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.logo img{
    margin: 0px;
    object-fit: contain;
    height: 80px;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    width: 60px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: #000;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
}

.nav-link:hover {
    color: #21803a86;
    letter-spacing: 3px;
    text-decoration-style: none;
}

.button {
    border-radius: 4px;
    border-color:#fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 4px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #1c4f2a;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background-image: linear-gradient(to right, #21803a86 3%, #f3ed96a8 65%, #21803a86 97%);
}

.button:hover {
    background-color: white;
    color: #21803ac0;
    box-shadow: 0 10px 20px #00000010, 0 6px 6px #00000010;
    margin: 8px 10px 12px;
    background-position: right center;
}

.top-container {
    display: block;
    justify-content: start;
    padding: 0px;
    position: absolute;
    width: 100%;
    color: #000;
    margin-top: 0px;
    height: -10px;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 100px;
}

input[type=text], select {
        width: 100%;
        padding: 12px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
      }
    
input[type=submit] {
        width: 100%;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      } 
input[type=submit]:hover {
        background-color: #45a049;
      }

.footer-wrapper {
    background-color: #1c4f2a;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    padding: 40px 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-link-footer{
    width: 60px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    color: cornsilk;
    text-decoration: none;
}