body {
    margin: 0;
    margin-right: 0;
    font-family: 'Jost', sans-serif;
}


.header-wrapper {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: +1;
}

.left-column {
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.logo img{
    object-fit: fill;
    height: 70px;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    padding-left: 20px;
    text-align: center;
    font-family: 'Jost', sans-serif;
    color: #000;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bold;
}

.nav-link:hover {
    color: #21803a86;
    letter-spacing: 3px;
    text-decoration-style: none;
}

.button {
    border-radius: 4px;
    border-color:#fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 2px 4px;
    text-align:center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #1c4f2a;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background-image: linear-gradient(to right, #21803a86 5%, #fce6c5c5 51%, #21803a86 95%);
}

.button:hover {
    background-color: white;
    color: #1c4f2a;
    box-shadow: 0 10px 20px #00000010, 0 6px 6px #00000010;
    margin: 8px 10px 12px;
    background-position: right center;
}

.event-link {
    text-decoration: none;
    color: black;
    text-align: center;
}

.event-container {
    justify-content: center;
    align-content: center;
    margin: inherit;
    padding-top: 90px;
    padding-bottom: 10px;;
    background-color: #fff;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mastermind {
    object-fit: contain;
    height: auto;
}

.every-woman {
    object-fit: contain;
    height: auto;
}

.title {
    font-family: 'Noto Serif Display', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex2content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.flex3content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.women-tech {
    object-fit: contain;
    height: auto;
}

.remix-conf {
    object-fit: contain;
    height: auto;
}
.cybersecurity {
    object-fit: contain;
    height: auto;
}

.summit-2022 {
    object-fit: contain;
    height: auto;
}

.flex6content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.flex7content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 28pt;
}

.event-link:hover {
    letter-spacing: 3px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer-wrapper {
    background-color: #1c4f2a;
    color: #fce6c5c5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: inherit;
    position: static;
    margin-bottom: inherit;
    margin-right: inherit;
    margin: inherit;
    height: 120px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo {
    height: 75px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 15pt;
    padding-left: 20px;
}

.icon-linkedin {
    cursor: pointer;
    padding: 8px;
}

.icon-twitter {
    cursor: pointer;
    padding: 8px;
}

.icon-youtube {
    cursor: pointer;
    padding: 8px;
}

.nav-link-footer {
    padding-left: 10px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    color: #fff;
    text-decoration: none;
}